body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    margin: 0;
    padding: 0;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Debug borders */

.red-border {
    border: 1px solid red;
}

.green-border {
    border: 1px solid green;
}

.blue-border {
    border: 1px solid blue;
}

.yellow-border {
    border: 1px solid yellow;
}

.cyan-border {
    border: 1px solid cyan;
}

.magenta-border {
    border: 1px solid magenta;
}
